src/*~
*~
doc/html
doc/latex
*Makefile*
*.orig
.ciscript
ci.*
jambs*
acuterecorder*
Brion*
FiReS*
HighFive*
Keyv*
Lexis*
Lunchbox*
MVDTool*
ReTo*
Servus*
ZeroBuf*
ZeroEQ*
gmrvlex*
httpxx*
neurolots*
nsol*
vmmlib*
SimIL*

nlrender/Shaders.h
.vscode*
